html,
body {
  min-height: 100%;
  /* margin-bottom: 60px; */
}

.bg {
  background-image: url("./../Images/watercolour-4116932_1280.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav-sticky {
  position: fixed;
  top
}

/* min-height-92 {
  min-height: 92vh;
} */
